site_name: CSC Latin America 2026 - HEP Computing
site_url: https://artfisica.github.io/csc2026/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

nav:
  - Home: index.md
  - Setup:
      - Codespaces: setup/codespaces.md
      - Local: setup/local.md
  - Exercises:
      - Overview: exercises/index.md
      - TT-E1 Debugging: exercises/tt_e1_debugging.md
      - TT-E2 Docs & CI: exercises/tt_e2_docs_ci.md
      - SD-E1 Parallel: exercises/sd_e1_parallel.md
      - SD-E2 Benchmark + Optimise: exercises/sd_e2_bench_optimize.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - codehilite
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  
